// //Card
.card
    background-color #fff
    border: .1rem solid #DADADA;
    box-shadow: 0px .2rem .6rem 0px rgba(17,23,54,0.05);
    border-radius: .2rem;
    display block
    cf()
    w(77rem)
    height 30rem
    position relative
    // &:not(:last-child)
    margin-bottom 40px

    &__img
        // width 100%
        // max-width 30rem
        // height 27rem
        width 42.857142857%
        height 100%
        background-color #aaa
        float left

    &__wrap
        // background-color #afa
        float left
        width 42.857142857%
        height 100%
        position relative
        margin-left 7.792207792%
        .tag
            font-size: 1.5rem;
            color: $text-grey;
            position absolute
            top 3.1rem
            left 0
            text-transform uppercase
            // line-height: 19px;
        .title-desc
            position absolute
            bottom 8.4rem
            left 0
            .title
                font-size 3.2rem
                line-height 1.1
                font-weight 700
                letter-spacing -0.03em
                +below(670px)
                    font-size 2.8rem
            .description
                line-height 1.2
                letter-spacing -0.03em
                margin-top 1rem
                +below(670px)
                    font-size 1.6rem
        .read-more
            position absolute
            bottom 1.3rem
            left 0
            // margin-bottom 10px



//old

// .page
//     margin 0 5%
//     &__wrap
//         width 100%
//         max-width 650px
//         margin 0 auto
//         padding-top 72px
//         padding-bottom 72px
//     // background-color #fff
//     // display block
//     // padding 0 3%
//     // box-shadow 0px 1px 10px 0px rgba(17,23,54,0.05)
//     // display block
//
//     &__title
//         padding-bottom 30px
//     p
//         margin-bottom 1.5em
//
// .card
//     text-decoration none
//     color $text
//     font-weight 400
//     background-color #fff
//     display block
//     padding 0 5%
//     box-shadow: 0px 1px 10px 0px rgba(17,23,54,0.05);
//
//
//     +below(850px)
//         margin 0 10px
//
//     &:hover
//         text-decoration none
//         color $text
//
//     &__wrap
//         display block
//         width 100%
//         max-width 590px
//         margin 0 auto
//         padding-top 72px
//         +below(1030px)
//             padding-top 10%
//
//     &__title
//         padding-bottom 36px
//         +below(1030px)
//             padding-bottom 6%
//
//     &__descriptino
//         display block
//
//     .read-more
//         display block
//         width 100%
//         text-align center
//         padding 14px
//         margin-top 60px
//         +below(1030px)
//             margin-top 10%
//         border-top 1px solid #E6E6E6
//         color $link
//         font-weight 600
//         transition all 0.15s ease
//         &:hover
//             border-top 1px solid $link
//             text-decoration none
