.section-title
    font-size 3.2rem
    color $medium-grey
    font-weight 300

.divider
    text-align center
    margin 8rem 0
    svg
        width 2.5rem
        height 28.8rem
        +mobile(orientation: landscape)
            display none

        +mobile(orientation: portrait)
            width 2rem
            height 23rem



.icon
    display inline-block
    fill $link
    &:hover
        transform scale(1.12)
    svg
        width 3rem
        height 3rem






//

// .main-header
//     text-align center

// body
//     max-width 600px
//     margin 0 auto
//     padding 0 15px

// .about
//     em
//         font-weight 600
//         font-style normal
//         color #444



// .contact
//     text-align center
//     margin-top 60px

// .social-links
//     p
//         margin-bottom 1rem
//     a
//         font-size 18px
//         padding 0 0.5em
//         font-weight 600
// .say-hi
//     margin-top 60px
//     p
//         margin-bottom 1rem

// .cta__primary
//     background-color #5FB1FF
//     background-color $link
//     color #fff
//     display inline-block
//     padding 0.4em 1.5em 0.4em 1em
//     border-radius 0.2em
//     font-size 17px
//     font-weight 600
//     i
//         padding-right 1rem
//     &:hover
//         color #fff
//         background-color $link-hover
//         text-decoration none

.logo
    transform rotate(-60deg)
    margin 20px
    position fixed
    z-index 998
    animation: roll 60s infinite linear reverse;
    &:hover
        // transform: scale(2);
        // tramsition
        // animation: oll 60s infinite linear reverse,scaleIt .2s;
    .bc
        width 46px
        height 46px
        border-radius 50%
        border 1px solid $text-grey
        display inline-block
        float left
        // animation: roll 2s infinite linear;
        background linear-gradient(white, orange)
        &__1
            transform rotate(140deg)
            // background-color #afa
            // animation: roll 3s infinite linear reverse;
            .sc
                animation: roll 4s infinite linear reverse;
        &__2
            transform rotate(-50deg)
    .sc
        width 22px
        height 22px
        // border-radius 50%
        // border 1px solid $text-grey
        position relative
        transform-origin: 100% 100%;
        animation: roll 30s infinite linear;
        &:after
            content ""
            position absolute
            // top 0
            // left 0
            bottom -3px
            right -3px
            width 22px
            height 22px
            border-radius 50%
            border 1px solid $text-grey
            background linear-gradient(red, blue)
            // background-color #aff
        // float left
        // display inline-block

        @keyframes roll {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes scaleIt {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1.5);
          }
        }
