footer
    text-align center
    padding 0 0 4rem
    margin-top 60px
    font-size 1.4rem
    color #788192
    ul
        padding-top 4rem
        border-top 1px solid #EBECF0
        li
            display inline-block
            &:not(:last-child)
                margin-right 3rem
        a
            color #788192 !important
            font-weight 600
    p
        padding-top 2rem
        a
            color inherit !important
        // color $light-grey
    // text-align center
    // padding-top 10rem
    // padding-bottom 18rem
    // font-size 1.4rem
    // .footer-nav
    //     margin-bottom 30px
    //     // background-color #afa
    //     li
    //         display inline-block
    //         &:not(:last-child)
    //             margin-right 30px
    //         a
    //             font-size: 18px
    //             font-weight 400
    //             &.active
    //                 // text-decoration underline
    //                 color $text
    //                 cursor default
    //                 &:before
    //                     display none
    //                 // background-color #afa
