// //Home page
//

.page-content
    // background-color #aaa
    wrap()

header.main
    // background-color #afa
    w(97rem)
    paddingTop()
    // padding-top 200px
    // display flex
    +below($desktop)
        // background-color #faf
    h1
        font-size 52px
        line-height 1
        // letter-spacing -0.03em
        position relative
        padding-bottom 6rem
        &:before
            content "Hi"
            font-weight 300
            color $medium-grey
            position absolute
            top 0.6rem
            left -4rem
            font-size 3rem
            transition all 0.15s ease
            +below($desktop)
                left 0
                top -3rem
    p
        // max-width 70%
        // +below(700px)
        //     max-width 100%



.work
    // background-color #ffa
    // paddingTop()
    padding-top 12rem
    +below(890px)
        padding-top 8rem

    w(97rem)
    header
        // display flex
        // align-items baseline
        // flex-wrap wrap
        margin-bottom 4rem
    aside
        // display inline-block
        // margin-left auto
        text-align center
        margin 0 auto
        align-items center
        // display flex
        +below(450px)
            margin-left 0
        p, ul, ul li
            display inline-block
            line-height 1
        p
            color $medium-grey
            font-weight 300
        ul
            vertical-align middle
            margin-left 3rem
            li:first-of-type
                margin-right 3rem
        .be svg
            width 4rem
    .case-list
        // background-color #aff
        .case
            background-color #ffa
            margin-bottom 30px
            background: #FAFAFA;
            border-radius: 2px;
            height 39.6rem
            width 100%
            box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.10);
            overflow hidden
            position relative
            // display flex
            // align-items center
            // justify-content center
            +below(890px)
                height 30rem

            &.xmass
                background-image url('/assets/images/vipXmassCard.png')
                background-size 100rem
                background-repeat no-repeat
                background-position -20rem -3rem
                +below(890px)
                    background-size 90%
                    background-position -15rem 2rem
                +below(600px)
                    background-position -8rem 12rem

            &.istra
                background-color #fff
                background-image url('/assets/images/IstraBg.jpg')
                background-size cover
                background-position 50% 50%
                .case__tags, .case__title
                    color #fff
                    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);

            .wrap
                text-align right
                // margin-left auto
                position absolute
                right 10rem
                bottom 15rem
                +below(890px)
                    bottom 10rem
                    background-origin: content-box
                +below(600px)
                    right 3rem

            &__title
                font-size 3.2rem
                // align-items center
            &__tags
                // font-style italic
                margin-bottom 4rem
                font-size: 14px;
                // text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
                text-transform uppercase
                font-weight 600

.blog
    header
        margin-bottom 4rem
    w(97rem)
    padding-top 12rem
    .post-title
        font-size 3.2rem
        font-weight 700
        span
            font-size 1.6rem
            color $light-grey
            padding-left 1rem
//     rw770()
//     height 100%
//     display flex
//     align-items center
//     margin-bottom 16rem
//     +mobile(orientation: landscape)
//         margin-bottom 0px
//
//     &__wrap
//         wrap()
//         padding-bottom 8rem
//         +mobile(orientation: landscape)
//             padding-bottom 0px
//
//     h1,.sub
//         font-size 5.2rem
//         color $text
//         line-height 1.25
//         letter-spacing -0.03em
//
//     h1
//         position relative
//         &:before
//             content "Hi"
//             font-weight 300
//             color $text-grey
//             position absolute
//             top 0.6rem
//             left -5rem
//             font-size 3rem
//             transition all 0.15s ease
//             +below(890px)
//                 left 0
//                 top -3rem
//     .sub
//         font-weight 200
//         +below(890px)
//             font-size 4.2rem
//             line-height 1.1
//
//     .divider
//         position absolute
//         bottom -10rem
//         left 50%
//         transform translateX(-1.2rem)
//         margin 0
//
// .main-description
//     rw770()kk
//     margin-top 10rem
//     transition margin-top 0.15s ease
//     +below(890px)
//         margin-top 4rem
//     p
//         margin-bottom 1rem
//         max-width 37rem



// .work
//     //     wrap()
//     //     // margin-bottom 300px
//     .find-more
//         text-align center
//         a
//             display inline-block
//             vertical-align middle
//             height 3rem
//             margin-left 3rem
//         svg
//             height 3rem
//             width 3rem
//     .icon
//         &.be
//             // background-color #afa
//             // transform scale(0.92)
//             svg
//                 width 4rem
//         &:before
//             display none
//         &:hover
//             transform scale(1.12)
//         &__path
//             fill $link
//
// .writings
//     wrap()
