---
layout: default
title: Home
permalink: /
description: Stjepco awesome site
---

<header class="header-main">
  <div class="header-main__wrap">
    <h1>I’m Stjepan</h1>
    <p class="sub">Designer and developer</p>
    <section class="main-description">
      <p>Hi once again, my name is Stjepan. I am a life explorer, designer and coder from Croatia. I like to draw, take photos of people </p>
      <a href="/about/" class="read-more">Find out more</a>
    </section>
  </div>
  {% include divider.html %}
</header>

<main>

  <section class="work">
    <h2 class="section-title">Selected work</h2>
    <ul>
    {% for work in site.works limit:3 %}
      <li class="card">
        <div class="card__img">
          <img src="" alt="">
        </div>
        <div class="card__wrap">
          <span class="tag">{{ work.tags }}</span>
          <div class="title-desc">
            <h2 class="title">{{ work.title }}</h2>
            <p class="description">{{ work.description | strip_html }}</p>
          </div>
          <a class="read-more" href="{{ work.url | prepend: site.baseurl }}">Read more</a>
        </div>
      </li>
    {% endfor %}
    </ul>
    <p class="find-more">Find more on
      <a href="" class="icon dr">
        <svg viewBox="0 0 30 30">
          <path class="icon__path" d="M15,30C6.72,30,0,23.28,0,15S6.72,0,15,0s15,6.72,15,15S23.28,30,15,30z M15.35,12.77
          	c-6.6,1.97-12.93,1.82-13.14,1.82C2.19,14.73,2.19,14.86,2.19,15c0,3.28,1.25,6.29,3.28,8.55c3.5-6.23,10.41-8.46,10.41-8.46
          	c0.18-0.06,0.35-0.1,0.51-0.16C16.07,14.22,15.72,13.5,15.35,12.77z M9.53,3.42C5.96,5.1,3.3,8.4,2.46,12.36
          	c0.33,0,5.68,0.06,11.84-1.56C12.07,6.86,9.71,3.65,9.53,3.42z M7.13,25.11c2.18,1.68,4.9,2.7,7.87,2.7c1.78,0,3.46-0.37,5-1.02
          	c-0.2-1.13-0.94-5.04-2.73-9.73c-0.02,0-0.06,0.02-0.08,0.02c0,0-7.6,2.66-10.06,8.01L7.13,25.11z M11.89,2.58
          	c0,0,0.02-0.02,0.04-0.02C11.91,2.56,11.91,2.56,11.89,2.58z M15,2.19c-1.04,0-2.05,0.14-3.03,0.37c0.2,0.25,2.62,3.44,4.8,7.46
          	c4.82-1.8,6.64-4.57,6.68-4.63C21.21,3.4,18.24,2.19,15,2.19z M24.9,6.86c-0.04,0.04-2.09,3.01-7.15,5.08
          	c0.29,0.61,0.59,1.23,0.86,1.86c0.1,0.21,0.18,0.45,0.27,0.66c4.41-0.57,8.77,0.39,8.93,0.41C27.77,11.84,26.7,9.04,24.9,6.86z
          	 M19.67,16.46c1.68,4.63,2.36,8.4,2.5,9.16c2.87-1.93,4.9-5.02,5.49-8.59C27.38,16.95,23.81,15.82,19.67,16.46z"/>
        </svg>
      </a>
      <a href="" class="icon be">
        <svg viewBox="0 0 47.85 30">
          <path class="icon__path" d="M13.88,0c5.05,0,9.42,1.42,9.42,7.29c0,2.97-1.38,4.88-4.02,6.15c3.62,1.03,5.37,3.76,5.37,7.45 c0,5.98-5.02,8.55-10.37,8.55H0V0H13.88z M13.04,11.89c2.31,0,3.95-1,3.95-3.5c0-2.71-2.1-3.37-4.44-3.37H6.47v6.87H13.04z  M13.39,24.44c2.64,0,4.79-0.93,4.79-3.9c0-3.01-1.8-4.21-4.65-4.21H6.47v8.11H13.39z M42.29,22.83h5.16 C45.87,27.71,42.57,30,37.48,30c-6.73,0-10.91-4.56-10.91-11.19c0-6.4,4.42-11.29,10.91-11.29c6.68,0,10.37,5.26,10.37,11.57 c0,0.37-0.02,0.75-0.05,1.1H32.43c0,3.41,1.8,5.42,5.23,5.42C39.44,25.61,41.73,24.65,42.29,22.83z M31.24,1.99v2.9h11.94v-2.9 H31.24z M32.43,16.5h9.53c-0.26-2.83-1.73-4.56-4.67-4.56C34.49,11.94,32.62,13.69,32.43,16.5z"/>
        </svg>
      </a>
    </p>
  </section>

  {% include divider.html %}

  <section class="writings">
    <h2 class="section-title">Writings</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="card">
          <div class="card__img">
            <img src="" alt="">
          </div>
          <div class="card__wrap">
            <span class="tag">{{ post.tags }}</span>
            <div class="title-desc">
              <h2 class="title">{{ post.title }}</h2>
              <!-- <p class="description">{{ post.description | strip_html }}</p> -->
              <!-- <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p> -->
            </div>
            <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>

  <!-- {% include divider.html %} -->

  <!-- <section class="projects"> -->
    <!-- Comming soons -->
  <!-- </section> -->

</main>
