<!-- {% include stjepco-logo.html%} -->
<!-- <nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item g-logo">
            <a href="/">Stjepco</a> 
        </li>
        <li class="main-nav__item{% if page.url == '/lab/' %} active{% endif %}">
            <a href="/lab/">Lab</a>
        </li>
        <li class="main-nav__item{% if page.url == '/resume/' %} active{% endif %}">
            <a href="/resume/">Resume</a>
        </li>
    </ul>
</nav> -->

<nav class="nav nav__bottom">
    <ul>
        <li class="nav__item"><a href="">Bio</a></li>
        <li class="nav__item"><a href="">Work</a></li>
        <li class="nav__item"><a href="/lab/">Lab</a></li>
        <li class="nav__item"><a href="/resume/">Resume</a></li>
        <li class="nav__item"><a href="http://bit.ly/sg-twitter" target="_blank">Twitter</a></li>
        <li class="nav__item"><a href="http://bit.ly/sg-instagram" target="_blank">Instagram</a></li>
    </ul>
</nav>