<footer>
    <ul class="links horizontal">
      <li><a target="_blank" href="http://bit.ly/sg-dribbble">Dribbble</a></li>
      <li><a target="_blank" href="http://bit.ly/sg-behance">Behance</a></li>
      <li><a target="_blank" href="http://bit.ly/sg-linked-in">LinkedIn</a></li>
      <li><a target="_blank" href="http://bit.ly/sg-twitter">Twitter</a></li>
      <li><a target="_blank" href="http://bit.ly/sg-instagram">Instagram</a></li>
      <li><a target="_blank" href="http://bit.ly/sg-github">Github</a></li>
    </ul>
    <p class="small">Design & Code by Stjepan Grgic.<br>Hosted on GitHub Pages. Find sourcode <a href="">here</a>.</p>
</footer>