<footer class="site-footer">
    <nav class="footer-nav">
        <ul class="footer-nav__list">
            {% for link in site.data.links.social-links %}
            <li class="footer-nav__item">
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <p class="site-footer__notice">Design & Code by Stjepan Grgic.<br>Hosted on GitHub Pages. Find sourcode <a href="https://github.com/stjepco/stjep.co">here</a>.</p>
</footer>