<!-- HTML -->

<!-- Go over links inloop -->
<ul>
    {% for node in site.pages limit: 3 %}
        <li class="item-{{ node.path | remove:'_pages/' | remove:'.html' }} ">
            <a href="{{ node.permalink }}" class="{% if page.url == node.permalink %}active{% endif %}">
            {% if node.permalink == "/" %}
                {% include stjepco-logo.html%}
            {% else %}
                {{ node.path | remove:'_pages/' | remove:'.html' | capitalize }}
            {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>



<!-- CSS -->
<style>
    
</style>




<!-- JS -->
<script>

</script>