<footer>
  <ul class="s-links">
    <li><a href="https://hr.linkedin.com/in/stjepangrgic">LinkedIn</a></li>
    <li><a href="https://dribbble.com/stjepco">Dribbble</a></li>
    <li><a href="https://www.behance.net/stjepco">Behance</a></li>
    <li><a href="twitter.com/stjepco">Twitter</a></li>
    <li><a href="https://instagram.com/stjepco/">Instagram</a></li>
    <li><a href="https://github.com/stjepco">Github</a></li>
  </ul>
  <p>Handcrafted in Zagreb<br> code & design by <a href="http://stjep.co/">Stjepan Grgic</a></p>
</footer>
