<footer>
  <ul>
    <li><a href="https://hr.linkedin.com/in/stjepangrgic">LinkedIn</a></li>
    <li><a href="https://dribbble.com/stjepco">Dribbble</a></li>
    <li><a href="https://www.behance.net/stjepco">Behance</a></li>
    <li><a href="twitter.com/stjepco">Twitter</a></li>
    <li><a href="https://github.com/stjepco">Facebook</a></li>
    <li><a href="https://instagram.com/stjepco/">Instagram</a></li>
    <li><a href="https://github.com/stjepco">Github</a></li>
  </ul>
  <p>Design & Code by <a href="http://stjep.co/">Stjepan Grgić</a>.</p>
  <p>Hosted on GitHub Pages. Find sourcode <a href="">here</a>.</p>
</footer>
