<header class="site-header">  
  <div class="wrapper">
    <h1 class="site-title" >
      <a href="{{ site.baseurl }}/">Hi, I am stjepco<!-- {{ site.title }} --></a>
    </h1>
    <p class="sub-head">DESIGNER<i class="dot"></i>CODER<i class="dot"></i>RARE UNICORN</p>
<!--     <nav class="navbar" role="navigation">
      <ul class="nav">
        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav__item">
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav> -->

  </div>
</header>
