<header class="site-header">
  <div class="menu-icon"></div>
  <a class="site-title" href="{{ site.baseurl }}/">Hi i am stjepco</a>
  <a href="/hire">Hire me</a>

   <nav class="side-nav">
     {% capture location %}
      {{ page.url | remove_first:'/' | split:'/' | first }}
     {% endcapture %}
     <ul class="">
      <li><a href="/about/" {% if location == 'about' %}class="active" {% endif %} >About</a></li>
      <li><a href="/work/" {% if location == 'work' %}class="active" {% endif %} >Work</a></li>
      <li><a href="/blog/" {% if location == 'blog' %}class="active" {% endif %} >Blog</a></li>
      <li><a href="">Contact</a></li>
     </ul>
   </nav>

</header>
