<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - stjep.co</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    <!-- Safary and IE fix for arrows -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&text=%E2%86%90%E2%86%92' rel='stylesheet' type='text/css'>

    <!-- <link type="text/plain" rel="author" href="http://domain/humans.txt" /> -->
</head>
