html {
    // Font loadin smooth appear
    opacity 1
    transition opacity 0.5s ease
    &.wf-loading {
        opacity 0
    }
}
body {
    background-color $color-bg
}

p {
    margin 0
}

.content {
    display flex
    flex-direction column
    margin-top 6vh
}


.content--left {
    max-width 200px
    min-width 140px
    width 100%
    +below(970px){
        max-width 100%
    }
}

.content--right {
    width 100%
    
    &__inner {
        max-width 970px
        margin 0 auto
        +above(1920px){
            min-width 970px
        }
    }
    &__paper {
        background-color #fff
        max-width 1300px
        padding 20vh 6vw 6vh
        margin 0 auto 3vh
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07)
        +below(970px){
            padding-top 5vh
            margin-top 0
        }
    }
}

+above(970px){
    .content {
        flex-direction row
    }
    .content--left {
        max-width 200px
        min-width 140px
    }

    .content--right {
        margin-right 6vw
    }
}


.site-footer {
    margin 0 auto
    text-align center
    fluid-type(16px, 18px)
    padding-bottom 2rem
    .footer-nav {
        &__list {
            list-style none
            padding 0
        }
        &__item {
            display inline-block
            a {
                padding 5px
                margin 5px
            }
        }
    }
    &__notice {
        font-size 0.7rem
    }
}

