html {
    opacity 1
    transition opacity 0.5s ease
    &.wf-loading {
        opacity 0
    }
}

body {
    background-color $color-bg
    padding 0
    margin 0
}

ul {
    list-style none
    padding 0
}


.paper {
    background-color #fff
    margin 3% auto 3%
    padding 6% 6% 3%
    
    width 94%
    max-width 1200px
    
    .inner {
        max-width 770px
        margin 0 auto
    }

    article {
        margin-top 30vh
    }
}



