fluid-type($min-font-size = 18px, $max-font-size = 22px, $lower-range = 360px, $upper-range = 1200px) {
    $f-dif = remove-unit($max-font-size - $min-font-size)
    $r-dif = remove-unit($upper-range - $lower-range)

    font-size: "calc(%s + %s * ( (100vw - %s) /  %s ))" % ($min-font-size $f-dif $lower-range $r-dif) 
    
    @media screen and (max-width: $lower-range){
      font-size: $min-font-size
    }


    @media screen and (min-width: $upper-range){
      font-size: $max-font-size
    }
}
