// Navbar

nav {
    // background-color #afa
    // display flex
    .links {
        display flex
        align-items center
        max-width 770px
        // padding 15px
        margin 0 auto
        .logo {
            margin-right auto
        }
        a {
            padding 5px 1rem
            line-height 1
        }
    }
    .logo {
        font-size 0
        a {
            display inline-block
            font-size 0
            padding 0
        }
    }
    svg.icon-logo {
        // background-color #aaf
        width 42px
        height 42px
        font 0
        path {
            fill $color-font
        }
    }
}