// Navbar

nav {
    display flex
    ul {
        list-style none
        display flex
        align-items center
        padding 0
        margin 0
        width 100%
        li {
            margin-right 1rem
            a {
                position relative
                transition all 0.3s ease
                &:after {
                    display block
                    content ""
                    position absolute
                    bottom -5px
                    left 0
                    width 20px
                    height 2px
                    background-color $color-font
                    opacity 0
                    transition all 0.3s ease
                }
            }
            .active {
                &:after {
                    opacity 0.2
                }
            }
            &.item-home {
                order -1
                line-height 1
                // margin-right auto
                margin-right 2rem
                a {
                    display inline-block
                    font-size 0
                    &:after {
                        display none
                    }
                    svg {
                        font-size 0
                        width 41px
                        height 42px
                        path {
                            fill $color-link
                        }
                        &:hover path{
                            fill $color-link-hover
                        }
                    }
                }
            }
        }
    }

}
