// //

// .page {
//     &__title {
//         margin-bottom 0.5em
//         line-height 1.2
//         max-width 570px
//         letter-spacing -0.01em
//         fluid-type(28px, 58px)
//         font-weight 700
//     }
// }

// .home, .lab {
//     p{
//         margin-bottom 1rem
//     }
//     .page__title {
//         // margin-top 20vh
//     }
//     .content--right__paper {
//         padding 18vh 6vw 12vh
//     }
//     .content--right__inner {
//         max-width 670px
//     }
// }

// .lab {

//     .experiment-list {
//         counter-reset experiment-list-counter
//         list-style-type none
//         padding-left 1rem
//         li {
//             position relative
//             &:before {
//                 content counter(experiment-list-counter) "."
//                 counter-increment experiment-list-counter
//                 position absolute
//                 left -1.2rem
//                 font-weight 500
//                 top 7px
//                 opacity 0.2
//                 text-align right
//                 line-height 1
//             }
//             &.in-progress {
//                 // background-color #afa
//             }
//             .status {
//                 background-color #FFB23F
//                 color #fff
//                 font-weight 500
//                 font-size 0.7rem
//                 padding 0 0.5em 0.2em
//                 border-radius 3px
//             }
//         }
//     }
// }
