//

h1 {
    margin-bottom 0.5em
    line-height 1.2
    max-width 570px
    letter-spacing -0.01em
}

.lab {
    // background-color #afa
    .experiment-list {
        counter-reset experiment-list-counter
        list-style-type none
        padding-left 1rem
        li {
            position relative
            &:before {
                content counter(experiment-list-counter) "."
                counter-increment experiment-list-counter
                position absolute
                left -1.2rem
                font-weight 500
                // font-size 1.2rem
                top 7px
                opacity 0.2
                text-align right
                line-height 1
            }
        }
    }
}

footer {
    max-width 800px
    margin 4rem auto 0
    border-top 1px solid #eee
    padding-top 1rem
    ul {
        display flex
        flex-wrap wrap
        justify-content center
        li {
            margin-right 1rem
            a {
                font-size 0.7rem
            }
        }
    }
    .small {
        font-size 0.7rem
        text-align center
        padding 0
        margin 1rem 0 0
    }
}
