.resume {
    font-size 18px

    p {
        margin 0
    }
    h3 {
        font-size inherit
    }
    
    .row {
        margin-bottom 1rem
        display flex
        justify-content space-between
        .left {
            // margin-bottom 1rem
            max-width 170px
            text-align right
            width 100%
            h2 {
                margin-bottom 1rem
                font-weight 500
                opacity 0.3
                font-size 26px
            }
        }
        .right {
            max-width 570px
            width 100%
        }
        &.introduction{
            // background-color #afa
            margin-top 20vh
        }
    }
    
    .company {
        .header {
            margin-bottom 1rem
            .name {
                margin-bottom 0.5rem
                display inline
                font-weight 700
            }
            .position {
                display inline
            }
            .period {
                margin-bottom 1rem
                opacity 0.5
            }
        }
        .projects {
            .project {
                .name {
                    fz
                }
            }
        }
    }
}