:root{
    fluid-type()
}

body {
    font-family $font-sans
    color $color-font
}

h1 {
    fluid-type(28px, 58px)
    font-weight 700
    max-width 570px
    color inherit
}

p {
    color #4C5F74
    font-weight 300
}

a {
    color $color-link
}