:root{
    fluid-type()
}

body {
    font-family $font-sans
    -webkit-font-feature-settings "salt" 1, "onum" 1
    -moz-font-feature-settings    "salt" 1, "onum" 1
    -ms-font-feature-settings     "salt" 1, "onum" 1
    font-feature-settings         "salt" 1, "onum" 1


    color $color-font
    font-weight 300
}

a {
    color $color-link
    text-decoration none
    &:hover {
        color darken($color-link, 30%)
    }
}