//Labs

body {
    position relative
}

//common
.overflow-hidden{
    overflow hidden
}

//
// Lab-01
//
.lab-01 {
    .top-button {
        background-color #afa
        display inline-block
        position fixed
        bottom 40px
        right 40px
        height 60px
    }
    .show-top {
        background-color #aaf
    }
}

//
// Lab 02
//
.lab-2 {
    transition all 0.3s ease
    position relative
    &-team {
        background-color #aaf
    }
    &-member {
        background-color #afa
    }
    &-member-bio {
        background-color #afa
        position fixed
        right 0
        top 0
        bottom 0
        width 270px
        height 100%
        z-index 10
        opacity 0

        transition transform 0.5s ease-out,
                   opacity 0.5s ease 0.1s
        transform translateX(270px);
        
        // transition-duration 0.3s;
    }
    
    //
    &-slide-in {
        transform translateX(0);
        opacity 1
        // transition-duration 0.2s;
        // transition-timing-function ease;
    }
    &-slide-out {
        // position relative
        transform translateX(-270px);
        // transition-duration 0.3s;
        // transition-timing-function ease;
        // overflow hidden
        & .lab-2-close-overlay{
            display block
            // transition display 0.1s ease,
                        // opacity 0.4s ease 0.1s
            animation: cd-fade-in 0.3s forwards;
            // opacity 0.5
        }
    }
    &-close-overlay {
        position fixed
        top 0
        left 0
        bottom 0
        right 0
        width 100%
        // background-color rgba(#ccc, 0)
        // opacity 0
        background-color #ccc
        z-index 20
        // overflow hidden
        cursor pointer
        display none
    }
    &-is-visible {
        display block
        opacity .5
    }

}

@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

//
// Lab 03
//
.lab-03 {
    background-color #ccc

    .bar {
        background-color #aff
        width 10px
        height 100px
        display inline-block
        margin-right 2px
    }

    .axis {
        background-color #aaf
        text {
            fill olive
            font-family sans-serif;
            font-size 11px;
        }
        .domain {
            fill none;
            stroke #aaf;
            shape-rendering crispEdges;
        }
    }
}




.lab-04{
    &-modal-overlay-visibility {
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background-color #afa
        // display none
        opacity 0
        visibility hidden
        transition opacity 0.3s 0s, visibility 0s .3s
        &.is-visible {
            opacity 1
            visibility visible
            transition opacity 0.3s 0s, visibility 0s 0s
        }
    }
    
    &-modal-overlay-display {
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background-color #ffa
        
        opacity 0
        visibility hidden
        display block
            
        transition all 0.3s 0s
        
        // this is when it is comming back
        // transition display 0s .3s, opacity 0.3s 0s
        // animation modal-show 0.2s ease
        // animation modal-show 0.2s ease
        
        // animation modal-show 0.2s ease forwards
        &.is-visible {
            opacity 1
            visibility visible
            // display block
                
            // animation modal-show 0.2s ease
            // First transition opaciti on removing is-visible class, then visibility
            // transition display 0s 0.001s, opacity 0.3s 0.001s
            // animation modal-show 0.2s ease forwards
            // animation modal-show 0.2s ease
        }
        &.is-removed {
            display none
        }
    }
}

@keyframes modal-show {
  0% {
    display none
    visibility hiden
    opacity 0
  }
  1% {
    display block
    visibility visible
    opacity 0
    // transform scale(0)
  }
  100% {
    opacity 1
    // transform: scale(1)
  }
}






































































//end line
