//Labs

body {
    position relative
}

//common
.overflow-hidden{
    overflow hidden
}

//
// Lab-01
//
.lab-01 {
    .top-button {
        background-color #afa
        display inline-block
        position fixed
        bottom 40px
        right 40px
        height 60px
    }
    .show-top {
        background-color #aaf
    }
}

//
// Lab 02
//
.lab-2 {
    transition all 0.3s ease
    &-team {
        background-color #aaf
    }
    &-member {
        background-color #afa
    }
    &-member-bio {
        background-color #afa
        position fixed
        right 0
        top 0
        bottom 0
        width 270px
        height 100%
        z-index 10
        // display none
        opacity 0

        transition transform 0.5s ease-out,
                   opacity 0.5s ease 0.1s
        transform translateX(270px);
        
        // transition-duration 0.3s;
    }
    
    //
    &-slide-in {
        transform translateX(0);
        opacity 1
        // transition-duration 0.2s;
        // transition-timing-function ease;
    }
    &-slide-out {
        // position relative
        transform translateX(-270px);
        // transition-duration 0.3s;
        // transition-timing-function ease;
        // overflow hidden
    }

}


//
// Lab 03
//
.lab-03 {
    background-color #ccc

    .bar {
        background-color #aff
        width 10px
        height 100px
        display inline-block
        margin-right 2px
    }

    .axis {
        background-color #aaf
        text {
            fill olive
            font-family sans-serif;
            font-size 11px;
        }
        .domain {
            fill none;
            stroke #aaf;
            shape-rendering crispEdges;
        }
    }
}


















































































//end line
