// Main

@import "./../../../underlayer/src/underlayer.styl"

@import "labs.styl"

body {
    // background-color #afa
}

.lab-list {
    // background-color #afa
    .in-progress {
        background-color red
    }
    .finished {
        background-color green
    }
}