//

.site-header
    text-align center

body
    max-width 600px
    margin 0 auto
    padding 0 15px

.about
    em
        font-weight 600
        font-style normal
        color #444

.site-title
    font-size 52px
    padding 0
    margin-top 30px
    a
        font-weight 100
    a:hover
        text-decoration none

.sub-head
    display inline-block
    font-size 14px
    font-weight 600
    letter-spacing 0.05em
    .dot
        display inline-block
        margin 0 16px
        position relative
        width 4px
        height 4px
        background-color $color-font-main
        border-radius 50%
        position relative
        top -2px

.contact
    text-align center
    margin-top 60px
    
.social-links
    p
        margin-bottom 10px
    a
        font-size 18px
        padding 0 0.5em
        font-weight 600
.say-hi
    margin-top 60px
    p
        margin-bottom 10px
        
.cta__primary
    background-color #5FB1FF
    background-color $link
    color #fff
    display inline-block
    padding 0.4em 1.5em 0.4em 1em
    border-radius 0.2em
    font-size 17px
    font-weight 600
    i
        padding-right 10px
    &:hover
        color #fff
        background-color $link-hover
        text-decoration none

