//Base
// rupture.base-font-size = 10px

html
    // font-size: 1px
    //Chrome has bug with percent based font size on root element
        
    // +below(360px)
    //     font-size 0.8px

body
    background-color $bg
    color $text
    font-weight 400

    font-family "futura-pt", sans-serif;

    font-size 26px
    line-height 1.6

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    text-rendering geometricPrecision
    padding 80px 10px
    
.page-content
    max-width 1000px
    width 100%
    margin 0 auto
    padding 80px 160px 30px
    background-color #fff

a
    color $link
    display inline-block
    transition all 0.15s ease-in
    position relative
    &:hover
        color $link-hover


