footer
    // text-align center
    padding 40rem 0
    margin-top 60px
    font-size 14rem
    color #788192
    max-width $content-width
    margin 0 auto
    width 100%
    text-align center

    ul
        padding 40rem 0
        border-top 1px solid #EBECF0
        li
            display inline-block
            margin 0 20rem 10rem
    p
        font-size 12rem
