//Home

img
    width 4.1rem
    height 4.2rem

header
    margin 30rem 0 4rem
    +below(600px)
        margin-top 25rem
        
    +tablet(orientation: landscape)
        margin-top 20rem
    +mobile(orientation: landscape)
        margin-top 5rem
    h1
        font-size 5.2rem
        line-height 1.4
        letter-spacing -0.03rem
    
    +below(800px)
        h1
            font-size 4.3rem

article
    p
        margin-bottom 3.0rem

    