//Home

img
    width 41px
    height 42px
    margin-bottom 400px

// hr
//     width 30rem
//     border-bottom 2px solid $text

header
    margin-bottom 40px
    h1
        font-size 52px
        line-height 1.4
        letter-spacing -0.3px
        // color $h

article
    // max-width 600px
    // margin 0 auto
    // .text
    //     font-size 24px
    //     font-weight 200
    //     font-style italic
    p
        margin-bottom 30px
    margin-bottom 100px
    