//First import Mixins
@import 'partials/mixins.styl'

//Pages
@import 'partials/home.styl'

//Elements
@import 'partials/navbar.styl'
@import 'partials/footer.styl'

//Other
@import 'partials/buttons.styl'

// @import 'partials/card.styl'

.section-title
    font-size: 4.2rem;
    color: $text-grey;
    line-height 1.25
    font-weight 200


.page
    wrap()
    header
        text-align center
        display flex
        height 37rem
        justify-content center
        align-items center
    &__title
        font-size 5.2rem
        max-width 54rem
        line-height 1
        margin 0 auto
    article
        & > *:not(.highlight)
            w(65rem)
            padding-bottom 3rem
        h2
            padding-top 5rem
            font-size 3.8rem
            font-weight 700
            text-align center

        .highlight
            w(77rem)
            margin-bottom 3rem



.divider
    text-align center
    margin 8rem 0
    svg
        width 2.5rem
        height 28.8rem
        +mobile(orientation: landscape)
            display none

        +mobile(orientation: portrait)
            width 2rem
            height 23rem

.section-title
    text-align center
    margin-bottom 50px
.work
    wrap()
    // margin-bottom 300px
    .find-more
        text-align center
        a
            display inline-block
            vertical-align middle
            height 3rem
            margin-left 3rem
        svg
            height 3rem
    .icon
        &.be
            // background-color #afa
            transform scale(0.92)
        &:before
            display none
        &:hover
            // transform scale(1.12)
        &__path
            fill $link


.card
    background-color #fff
    border: .1rem solid #DADADA;
    box-shadow: 0px .2rem .6rem 0px rgba(17,23,54,0.05);
    border-radius: .2rem;
    display block
    cf()
    w(77rem)
    height 30rem
    position relative
    // &:not(:last-child)
    margin-bottom 40px

    &__img
        // width 100%
        // max-width 30rem
        // height 27rem
        width 42.857142857%
        height 100%
        background-color #aaa
        float left

    &__wrap
        // background-color #afa
        float left
        width 42.857142857%
        height 100%
        position relative
        margin-left 7.792207792%
        .tag
            font-size: 1.5rem;
            color: $text-grey;
            position absolute
            top 3.1rem
            left 0
            text-transform uppercase
            // line-height: 19px;
        .title-desc
            position absolute
            bottom 8.4rem
            left 0
            .title
                font-size 3.2rem
                line-height 1.1
                font-weight 700
                letter-spacing -0.03em
                +below(670px)
                    font-size 2.8rem
            .description
                line-height 1.2
                letter-spacing -0.03em
                margin-top 1rem
                +below(670px)
                    font-size 1.6rem
        .read-more
            position absolute
            bottom 1.3rem
            left 0
            // margin-bottom 10px

//

// .main-header
//     text-align center

// body
//     max-width 600px
//     margin 0 auto
//     padding 0 15px

// .about
//     em
//         font-weight 600
//         font-style normal
//         color #444



// .contact
//     text-align center
//     margin-top 60px

// .social-links
//     p
//         margin-bottom 1rem
//     a
//         font-size 18px
//         padding 0 0.5em
//         font-weight 600
// .say-hi
//     margin-top 60px
//     p
//         margin-bottom 1rem

// .cta__primary
//     background-color #5FB1FF
//     background-color $link
//     color #fff
//     display inline-block
//     padding 0.4em 1.5em 0.4em 1em
//     border-radius 0.2em
//     font-size 17px
//     font-weight 600
//     i
//         padding-right 1rem
//     &:hover
//         color #fff
//         background-color $link-hover
//         text-decoration none

.logo
    transform rotate(-60deg)
    margin 20px
    position fixed
    z-index 998
    animation: roll 60s infinite linear reverse;
    &:hover
        // transform: scale(2);
        // tramsition
        // animation: oll 60s infinite linear reverse,scaleIt .2s;
    .bc
        width 46px
        height 46px
        border-radius 50%
        border 1px solid $text-grey
        display inline-block
        float left
        // animation: roll 2s infinite linear;
        background linear-gradient(white, orange)
        &__1
            transform rotate(140deg)
            // background-color #afa
            // animation: roll 3s infinite linear reverse;
            .sc
                animation: roll 4s infinite linear reverse;
        &__2
            transform rotate(-50deg)
    .sc
        width 22px
        height 22px
        // border-radius 50%
        // border 1px solid $text-grey
        position relative
        transform-origin: 100% 100%;
        animation: roll 30s infinite linear;
        &:after
            content ""
            position absolute
            // top 0
            // left 0
            bottom -3px
            right -3px
            width 22px
            height 22px
            border-radius 50%
            border 1px solid $text-grey
            background linear-gradient(red, blue)
            // background-color #aff
        // float left
        // display inline-block

        @keyframes roll {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes scaleIt {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1.5);
          }
        }
