//Layouts

@import 'partials/card.styl'


.main-header
    text-align center
    .hi 
        display block
        margin-top 30px
        &:hover
            text-decoration none
        h1
            font-size 52px
            padding 0
            font-weight 200
            color $heading

        .sub
            display inline-block
            font-size 14px
            font-weight 600
            letter-spacing 9px
            color $heading
            margin-right -12px
            position relative
            top -10px
            text-transform uppercase
            .and
                font-weight 700
                padding 0 37px 0 25px

.wrap
    width 100%
    max-width 830px
    margin 0 auto
    // padding 0 10px
    

.side-nav
    display none

.hire
    display none


            

//

// .main-header
//     text-align center

// body
//     max-width 600px
//     margin 0 auto
//     padding 0 15px

// .about
//     em
//         font-weight 600
//         font-style normal
//         color #444



// .contact
//     text-align center
//     margin-top 60px
    
// .social-links
//     p
//         margin-bottom 10px
//     a
//         font-size 18px
//         padding 0 0.5em
//         font-weight 600
// .say-hi
//     margin-top 60px
//     p
//         margin-bottom 10px
        
// .cta__primary
//     background-color #5FB1FF
//     background-color $link
//     color #fff
//     display inline-block
//     padding 0.4em 1.5em 0.4em 1em
//     border-radius 0.2em
//     font-size 17px
//     font-weight 600
//     i
//         padding-right 10px
//     &:hover
//         color #fff
//         background-color $link-hover
//         text-decoration none

