// Colors
$light-grey = #C2C8D2
$medium-grey = #6F7C8C
// $text = #484A66
$text = #515B69
$heading = #373A49

$link = #FF654C
$link-hover = darken($link, 10%)

//Fonts

$font-main = "Source Sans Pro", Arial, Helvetica, sans-serif;

$desktop = 1070px
