---
title: Resume
permalink: /resume/
class: resume
---

<header>
    <h1>Stjepan Grgic</h1>
    <p>Designer, developer, illustrator, photographer.<br> This is my honest resume.</p>
</header>
<section class="row resume-intro">
    <div class="left">
        <h2>Introduction</h2>
    </div>
    <div class="right">
        <p class="introduction">{{ site.data.cv.introduction }}</p>
    </div>
</section>
<section class="row employment">
    <div class="left">
        <h2>Employment</h2>
    </div>
    <div class="right">
        {% for company in site.data.cv.employment %}
            <section class="company">
                <section class="header">
                    <h3 class="name">{{ company.name }}</h3>
                    <p class="position">{{ company.position }}</p>
                    <p class="meta">
                        <span class="period">{{ company.period }} </span>
                        <span class="website"><a href="{{ company.website }}"> Company website</a></span>
                    </p>                    
                    <p class="introduction">{{ company.introduction }}</p>
                </section>
                {% if company.projects %}
                    <section class="projects">
                        <h4>Featured projects</h4>
                        {% for project in company.projects %}
                            <div class="project">
                                <h5 class="name">{{ project.name }}</h5>
                                {%if project.url %}
                                <a href="{{ project.url }}" class="link" target="_blank">Check it out</a>
                                {% endif %}
                                <p class="description">{{ project.description }}</p>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}
            </section>
        {% endfor %}
    </div>
</section>
<section class="row education">
    <div class="left">
        <h2>Education</h2>
    </div>
    <div class="right">
        <div class="formal">
            {% for institution in site.data.cv.education.formal %}
                <div class="institution">
                    <h4>{{ institution.name }}</h4>
                    <p>{{ institution.period }}</p>
                </div>
            {% endfor %}
        </div>
<!--         <div class="courses">
            <h3>Courses</h3>
            {% for course in site.data.cv.education.courses %}
                <div class="course">
                    <h4>{{ course.name }}</h4>
                    <p>{{ course.year }}</p>
                </div>
            {% endfor %}
        </div> -->
    </div>
</section>




