//Button

//Menu icon in navbar
.menu-icon
    position relative
    // width 28px
    // height 18px

//
.hire
    background-color $link
    color #fff
    border-radius 2px
    font-size 2rem
    padding 0.4em 1.2em
    &:before
        display none
    &:hover
        background-color $link-hover
        color #fff

//Read more link
.read-more
    color $link
    padding 0.5em 0
    // background-color #faf
    // font-weight 600
    // display inline-block
    &:before
        display none
    &:after
        content "→"
        display inline-block
        margin-left 0.5rem
        position relative
        transition all 0.15s ease
    &:hover
        &:after
            transform translateX(0.5rem)
