//Card
.page
    margin 0 5%
    &__wrap
        width 100%
        max-width 650px
        margin 0 auto
        padding-top 72px
        padding-bottom 72px
    // background-color #fff
    // display block
    // padding 0 3%
    // box-shadow 0px 1px 10px 0px rgba(17,23,54,0.05)
    // display block

    &__title
        padding-bottom 30px
    p
        margin-bottom 1.5em

.card
    text-decoration none
    color $text
    font-weight 400
    background-color #fff
    display block
    padding 0 5%
    box-shadow: 0px 1px 10px 0px rgba(17,23,54,0.05);
    
    
    +below(850px)
        margin 0 10px
        
    &:hover
        text-decoration none
        color $text
        
    &__wrap
        display block
        width 100%
        max-width 590px
        margin 0 auto
        padding-top 72px
        +below(1030px)
            padding-top 10%
    
    &__title
        padding-bottom 36px
        +below(1030px)
            padding-bottom 6%
        
    &__descriptino
        display block
        
    .read-more
        display block
        width 100%
        text-align center
        padding 14px
        margin-top 60px
        +below(1030px)
            margin-top 10%
        border-top 1px solid #E6E6E6
        color $link
        font-weight 600
        transition all 0.15s ease
        &:hover
            border-top 1px solid $link
            text-decoration none