footer
    text-align center
    padding-top 10rem
    padding-bottom 18rem
    font-size 1.4rem
    .footer-nav
        margin-bottom 30px
        // background-color #afa
        li
            display inline-block
            &:not(:last-child)
                margin-right 30px
            a
                font-size: 18px
                font-weight 400
                &.active
                    // text-decoration underline
                    color $text
                    cursor default
                    &:before
                        display none
                    // background-color #afa
