//Home page

.header-main
    rw770()
    height 100%
    display flex
    align-items center
    margin-bottom 16rem
    +mobile(orientation: landscape)
        margin-bottom 0px

    &__wrap
        wrap()
        padding-bottom 8rem
        +mobile(orientation: landscape)
            padding-bottom 0px

    h1,.sub
        font-size 5.2rem
        color $text
        line-height 1.25
        letter-spacing -0.03em

    h1
        position relative
        &:before
            content "Hi"
            font-weight 300
            color $text-grey
            position absolute
            top 0.6rem
            left -5rem
            font-size 3rem
            transition all 0.15s ease
            +below(890px)
                left 0
                top -3rem
    .sub
        font-weight 200
        +below(890px)
            font-size 4.2rem
            line-height 1.1

    .divider
        position absolute
        bottom -10rem
        left 50%
        transform translateX(-1.2rem)
        margin 0

.main-description
    rw770()kk
    margin-top 10rem
    transition margin-top 0.15s ease
    +below(890px)
        margin-top 4rem
    p
        margin-bottom 1rem
        max-width 37rem
