//Mixins

rw770()
    width 100%
    max-width 770px
    margin 0 auto

w(n)
    width 100%
    max-width n
    margin 0 auto

//Wrap - adds pading on mobile sizes
wrap()
    // width 100%
    // max-width 830px
    // margin 0 auto
    padding 0 2rem
    // height 100%
