.page
    wrap()
    header
        text-align center
        display flex
        height 37rem
        justify-content center
        align-items center
    &__title
        font-size 5.2rem
        max-width 54rem
        line-height 1
    article
        & > *:not(.highlight)
            w(65rem)
            padding-bottom 3rem
        h2
            padding-top 5rem
            font-size 3.8rem
            font-weight 700
            text-align center

        .highlight
            w(77rem)
            margin-bottom 3rem
